@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: black;
}

p {
  flex: 0%;
}

h1 {
  font-family: "B612 Mono", sans-serif;
  font-size: 70px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  padding: 50px;
  background-color: #eeeeee;
  text-align: center;
}

#title {
  text-align: center;
  color: palevioletred;
  margin: 30px;
}

nav {
  position: fixed;
  padding: 15px;
  width: 100%;
  display: inline;
  background-color: rgb(50, 49, 51);
  justify-content: flex-end;
  text-align: right;
}

nav a {
  margin-right: 100px;
  font-size: 20px;
  text-decoration: none;
  color: aliceblue;
}

ul {
  width: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  display: flex;
  align-self: stretch;
  text-align: center;
  margin: 20px;
  padding: 25px;
  list-style: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: grey;
  box-shadow: 1px 1px 5px grey;
  justify-content: space-between;
  align-items: center;
}

#buttons {
  display: flex;
  justify-content: space-between;
  flex: 1%;
  /* flex-grow: 50%; */
}

#add {
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid rgb(50, 49, 51);
  background-color: white;
  font-size: 70px;
  text-align: center;
  position: fixed;
  align-self: flex-end;
  bottom: 10px;
  right: 10px;
}

.action-button {
  display: block;
  height: 40px;
  width: 80px;
  border: 1px solid rgb(50, 49, 51);
  background-color: white;
  font-size: 15px;
  text-align: center;
}

.random-button {
  font-size: 20px;
  position: fixed;
  width: auto;
  height: auto;
  padding: 20px 40px;
  top: 64px;
  right: 10px;
}

.action-button:hover {
  background-color: rgb(50, 49, 51);
  color: white;
}

.action-button:active {
  color: rgb(50, 49, 51);
}

.action-button:disabled {
  background-color: rgb(103, 100, 105);
  color: white;
}

#add:active {
  color: rgb(50, 49, 51);
}

#add:hover {
  background-color: rgb(50, 49, 51);
  color: white;
}

a:hover {
  color: rgb(188, 188, 207);
}

nav:active {
  color: rgb(50, 49, 51);
}
